#navbarwrapper{
    height: 60px;
    padding: 0px;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
}

#navbarwrapper a{
    color: white;
    text-align: center;
    padding: 15px 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration:solid;
    font-size: 20px;
}

#navbarwrapper a:hover{
    background-color: rgb(166, 187, 255);
    color: black;
}

.linediv{
    height: 50px;
    width: 2px;
    border-radius: 20px;
    align-self: center;
    background-image: linear-gradient(0deg, rgb(40, 52, 60), rgb(110, 110, 102));
}

#palettewrapper{
    background-color: white;
    height: 50px;
    width: 280px;
    border-radius: 5px;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 10px;
    margin-left: 100px;
}

.colorsquare{
    background-color: rgb(255, 255, 255);
    padding-top: 5px;
    height: 45px;
    width: 45px;
    border-radius: 7px;
}

#optionswrapper{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 800px) {
    #navbarwrapper{
        flex-direction: column;
        height: 100px;
        padding-bottom: 20px;
        padding-left: 0px;
        width: 100%;
    }

    #navbarwrapper a{
        width: 25%;
    }

    #palettewrapper{
        margin-top: 10px;
        margin-left: 0px;
    }
}

body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#footerwrapper{
    background-color: black;
    width: 100%;
    margin: 0px;
    margin-top: auto;
    margin-bottom: 0px;
    bottom: 0px;
    position: relative;
}

footer p{
    color: white;
    font-size:14px;
    margin: 0px;
    margin-top: auto;
    text-align: center;
}